@font-face {
  font-family: Norse-Bold;
  src: url(./fonts/Norse-Bold.otf);
}

.home {
  margin: auto;
  width: 65%;
  display: flex;
}

.banner,
.banner-header {
  position: relative;
}

.banner-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.567);
  bottom: 450px;
  width: 387px;
  height: 120px;
}

.banner-header img {
  height: 100px;
}

.banner-header h1 {
  color: white;
  font-family: Norse-Bold;
  font-size: 4rem;
}

.form {
  min-width: 500px;
}

.form-content {
  margin: 100px 25px;
  height: 500px;
}

.form-row {
  margin: 8px;
  display: flex;
  justify-content: space-between;
}

label {
  display: block;
  font-size: small;
}

input {
  border: 1px solid #E5E7EB;
}

input:focus {
  border: 3px solid blue;
  box-shadow: 1px 1px 2px 1px rgba(97, 121, 244, 0.2);
}

button[type="submit"] {
  background-color: #596D48;
  color: white;
  width: 180px;
  height: 38px;
  margin: 25px 0px;
  border: unset;
  border-radius: 5px;
  font-weight: bold;
}

.invalid-password {
  border: 2px solid red;
}

#password-error-label {
  color: red;
}